@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/bg-stars.svg");
  background-color: hsl(234, 17%, 12%);
  font-family: "Red Hat Text", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-rows: auto 10.625rem;
}

main {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding-inline: 2rem;
  margin-bottom: 3.4rem;
}

.container {
  width: 86%;
  max-width: 43rem;
  display: flex;
  justify-content: space-between;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.4);
  border-radius: 0.1em;
  margin-bottom: 1rem;
  overflow: hidden;
}

.flip-card::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 10%;
  background: hsl(234, 17%, 12%);
  left: -1px;
  top: 45%;
  border-radius: 0 80% 80% 0;
  z-index: 50;
}

.flip-card::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 10%;
  background: hsl(234, 17%, 12%);
  right: -1px;
  top: 45%;
  border-radius: 80% 0 0 80%;
  z-index: 50;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 2.1rem;
  width: 4.2rem;
  overflow: hidden;
  font-size: 2rem;
}

.top,
.flip-card .top-flip {
  background-color: hsl(236, 19%, 17%);
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: hsl(345, 45%, 46%);
  padding-top: 1rem;
  line-height: 1;
}

.bottom,
.flip-card .bottom-flip {
  background-color: hsl(236, 21%, 26%);
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  color: hsl(345, 95%, 68%);
  line-height: 0.03;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.segment-title {
  color: hsl(237, 18%, 59%);
  font-size: 0.45rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

footer {
  background-image: url("images/pattern-hills.svg");
  background-size: cover;
  /* background-size: 250% 10.625rem; */
  background-position: bottom right -8rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(76, 168, 168); */
}

.social-icons {
  width: 9rem;
  margin-top: 2.8rem;
  display: flex;
  justify-content: space-between;
}

.social-icons svg {
  cursor: pointer;
}

@media (hover: hover) {
  .social-icons svg:hover path {
    fill: hsl(345, 95%, 68%);
  }
}

@media (max-width: 20.625rem) {
  .container {
    width: 95%;
  }
  .top,
  .bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    height: 1.7rem;
    width: 3.4rem;
    font-size: 1.4rem;
  }
  .top,
  .flip-card .top-flip {
    padding-top: 15px;
  }
}

@media (min-width: 46rem) {
  body {
    grid-template-rows: auto 185px;
  }
  main {
    min-height: 26rem;
  }
  h1 {
    font-size: 1.4rem;
    margin-bottom: 6.8rem;
  }
  .flip-card {
    margin-bottom: 1.4rem;
    box-shadow: 2px 5px 4px 3px rgba(0, 0, 0, 0.4);
  }
  .top,
  .bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    height: 4.5rem;
    width: 9.2rem;
    font-size: 4.6rem;
  }
  .top,
  .flip-card .top-flip {
    padding-top: 2.25rem;
  }
  .segment-title {
    font-size: 0.85rem;
    letter-spacing: 0.3rem;
  }
  footer {
    /* background-size: cover; */
    background-position: bottom;
  }
}
